@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Distressed&display=swap');


:root {
    --fonte-titulo:"Rubik Distressed";
    --fonte-texto:"Public Sans";
    --azul-principal:#213070;

}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-texto);
    color: white;

}